rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isValidDisplayImage() {
      return request.resource.contentType.matches('image/.*')
             && request.resource.size < 5 * 1024 * 1024;
    }
    function isValidSourceFile() {
      return (
        request.resource.contentType.matches('application/pdf') ||
        request.resource.contentType.matches('application/postscript') ||
        request.resource.contentType.matches('image/svg\+xml') ||
        request.resource.contentType.matches('application/zip') ||
        request.resource.contentType.matches('application/x-zip-compressed')
      ) && request.resource.size < 50 * 1024 * 1024;
    }

    match /public_designs/{fileName} {
      allow read: if true;
      allow create, update: if signedIn() && isValidDisplayImage();
      allow delete: if false;
    }

    match /source_files/{designId}/{fileName} {
      allow read: if false;
      allow create, update: if signedIn() && isValidSourceFile();
      allow delete: if false;
    }

    match /avatars/{userId} {
      allow read: if true;
      allow write: if signedIn() && request.auth.uid == userId && isValidDisplayImage();
    }
  }
}
